/modules
/.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.terraform.tfvars
*.tfvars.json
*.tfvars
*.tfvars.yml
*.tfvars.yaml   
.next
/node_modules
/dist
/.vscode
.DS_Store
*.log
*.tmp   
*.bak
